

<style>
#buttons{opacity:1; position:absolute; top:55%; width:30%;position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;}
#buttons:hover{visibility:none;}

</style>

<body style="margin:-8px; ">

<div style="background: #00b5cb;">
<div  class="top" style="height:800px;  background-size: cover; background-image:url('https://scontent-lax3-1.xx.fbcdn.net/t31.0-8/15259319_10154807269032220_1313791881613833856_o.jpg');">

<img id="arrow" style=" width:150px; position:relative; left:570px; top:670px;"src = "https://68.media.tumblr.com/565aa8b5eeceee6efa559ca2415b4437/tumblr_ohjc0lpNHQ1qhk3cbo3_500.png">

</div>

<div id= "div2" style="background:#00b5cb; width:100%; height: 650px; font-family: 'Archivo Narrow', sans-serif; height:850px;">

<div class = "col-md-6"style=" padding-left: 120px; padding-right:150px;font-size:24pt; width:50%; color:white;  margin-top:15%; float:left;">Need Ideas? <br> <em style="font-size:22pt;"> Explore Cat's Movie List! </em>
  <br>   <br>Ready to go? <br> <em style="font-size:22pt;">Add to a crowdsourced movie list!</em></div>

<div class="col-md-6" >

  <img style="width: 100%;  float:right;
    " src=https://68.media.tumblr.com/d2909918c6ce08b55b35b028d759cea5/tumblr_ohjc04IJ8L1qhk3cbo1_1280.gif>
<div style="margin-left:130px; width:800px;">
    <button style=" width:25%;float: left; margin:10px; background:#f07f75; padding:10px;border:4px solid white; border-radius:10px;
    ">   {{#link-to 'movies'}}
  Cat's Movie List
      {{/link-to}} </button>
      <br><br>
    <button style="; width:25%;float: left; margin:10px; background:#f07f75; padding:10px;border:4px solid white; border-radius:10px;
  ">
  {{#link-to 'favoritez'}}
    Crowd-Sourced Movie List
      {{/link-to}}</button>
<br>
      <button class="submit" style="width:52.5%;float: left; margin:10px; background:#f07f75; padding:10px;border:4px solid white; border-radius:10px;">
    {{#link-to 'search'}}
Add Your Top Movies to the List        {{/link-to}}</button>


</div>
</div>
</div>
</div>
</body>
