{{outlet}}
{{!-- <form action='search'>
   <input type="text" name="moviesearch"><br>
   <input type="submit" value="Submit">
   </form> --}}
   {{!-- {{#each model.data as |data|}}
   <div>

     {{data.title}}
   </div>
   {{/each}} --}}
